{% extends "base.html" %}
{% block content %}
    {% for device in devices %}
        <h2>{{ device.device_id }}:{{ device.name }}</h2>
        <p><strong>Device ID:</strong><code>{{ device.uuid }}</code></p>
        <p><strong>Device Key:</strong><code>{{ device.device_key.key }}</code></p>
        <table class="table table-striped">
            <tr><th>Latitude</th><th>Longitude</th><th>Time</th></tr>
            {% for location in device.location_updates %}
                <tr><td>{{ location.latitude }}</td><td>{{ location.longitude }}</td><td>{{ location.time }}</td></tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}